

<br>	

<div id="clicked-node">
Search for a new topic
</div>
<button type="button" id="topic-submit" class="btn btn-default" href='/topic?topic='>Search</button>

<div id="chart">
</div>

<br>

 

<div class="search-results">
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(":submit").click(function(){
      var searched = $("input:text").val();
      var articles = $.getJSON("http://api.npr.org/query?", { output: "JSON", searchTerm: searched, apiKey: "MDE3NTg1OTAzMDE0MTc0NjU3MDZhZTk4Yw001"});
      $("body").append();



    });
  });
</script>