<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="<%=story["link"]%>">  
        <%=story["title"]%>    
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <img src="<%=story["img_src"]%>" alt="<%=story["title"]%>">
  </div>
</div>