<h1 class="stories"><%=@topic.gsub("%20", " ").titleize %></h1>
<div class="stories">
  <% @stories_array.each do |story| %>
    <%= render partial: 'topics/story', :locals => {:story => story} %>  
  <% end %>
</div>


<div class="loader4">
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    $(".up-btn").click(function(e) {
      console.log("Clicked UP");
      $.ajax({type: 'POST', url:'/relevant', data:{title: $(this).title}}).done(function(data){
        console.log($(this).attr("title"))
        console.log($(this))
      });
    });
  });
</script>