<h1 class="stories"><%=@topic.gsub("%20", " ").titleize %></h1>
<div class="stories">
  <% @stories_array.each do |story| %>
    <%= render partial: 'topics/story', :locals => {:story => story} %>  
  <% end %>
</div>


<div class="loader4">
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>