<h1><%=@topic.gsub("%20", " ").titleize %></h1>
<div class="stories">
  <% @stories_array.each do |story| %>
    <%= render partial: 'topics/story', :locals => {:story => story} %>  
  <% end %>
</div>


<div class="loader4">
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 $( document ).ready(function() {
   $(".up-btn").click(function(e) {
       var train = $(this).attr("train");
       $.ajax({
         type: 'POST', 
         url:'/relevant', 
         data:{title: train}
       }).done(function(data){
         console.log("hello");
       });
     });
   });
</script>