<h1><%=@topic.gsub("%20", " ").titleize %></h1>
<%=@coursera_array%>
<div class="stories">
  <% @stories_array.each do |story| %>
    <%= render partial: 'topics/story', :locals => {:story => story} %>  
  <% end %>
</div>


<div class="loader4">
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 $( document ).ready(function() {
   $(".up-btn").click(function(e) {
       var train = $(this).attr("train");
       var topic = $(this).attr("topic");
       $.ajax({
         type: 'POST', 
         url:'/relevant', 
         data:{
          train: train,
          topic: topic
         }
       });
       console.log("upvote");
       $(this).css('background-color', 'thistle');
       debugger;
       $(this).siblings()[0].remove();
     });

   $(".down-btn").click(function(e) {
       var train = $(this).attr("train");
       var topic = $(this).attr("topic");
       $.ajax({
         type: 'POST', 
         url:'/irrelevant', 
         data:{
          train: train,
          topic: topic
         }
       });
       console.log("downvote");
       $(this).closest(".panel").remove();
     });
   });
</script>