<div class="row" id="chart-div">
	
	<h1>KnowledgeBase is a tool for information junkies...</h1> <br>
	
	<h3 class="one">When you select a topic either through our predefined tree or through the search bar...</h3>
	<center><%= image_tag "select_topic.png", width:"50%", height:"50%", class:"one" %></center> <br>
	
	<h3 class="two">We look across a number of various content sources, utilizing their APIs, for that topic...</h3>
	<center><%= image_tag "api_logos.png", width:"50%", height:"50%", class:"two" %></center> <br>
	
	<h3 class="three">And utilize anive Bayes classifier to provide you with the highest quality, most relevant content based on your and other user's rating of content relevance...</h3>
	<center><%= image_tag "machine_learning.png", width:"50%", height:"50%", class:"three" %></center> <br>
</div>



<div class="loader4">
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>