// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stories {
  -webkit-column-count: 4;
  padding: 2px;
}

.panel {
  display: inline-block;
  width: 100%;
}

.greenbtn{
  background-color: RGBA(128, 185, 74, .3);
}

.panel-extras {
  width: 100%;
  padding: 0;
}

.image-fit {
  max-width: 100%;
  max-height: 100%;
  padding: none;
}